*{
    margin: 20px;
    padding: .5px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h1{
    font-size:  140px;
    text-align: center;
    font-style: italic;
}
p{
    background-color: bisque;
    margin: .3rem;
    font-size: 25px;
    text-align: center;
}
img{
    align-content: center;
    width: 400px;
    height: 300px;
    border-radius: 100000px;
   
}
div{
    font-size: 50px;
    background-color: bisque;
    text-align: center;
}